res/strings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="string">
    	<xsd:complexType>
        	<xsd:simpleContent>
            	<xsd:extension base="xsd:string">
                	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            	</xsd:extension>
        	</xsd:simpleContent>
    	</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="resources">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="string" maxOccurs="unbounded" ></xsd:element>
            </xsd:sequence>
        </xsd:complexType>	
    </xsd:element>
    
</xsd:schema>